In [2]:
import pandas as pd

In [6]:
import geopandas
import pysal as ps
from pysal.lib import examples
#import pysal
#graph = pysal.open(pysal.examples.get_path('columbus.gal')).read()
#dataframe = geopandas.read_file(examples.get_path('columbus.dbf'))
#data = data['HOVAL'].values

In [7]:
!pwd

/Users/jiaqitang/portland

In [ ]:
shp_path = "data/texas.shp" 
df = geopandas.read_file(shp_path)

In [ ]:
qW = Queen.from_dataframe(df)

In [8]:
qW = ps.queen_from_shapefile(shp_path)

AttributeError: module 'pysal' has no attribute 'queen_from_shapefile'

In [9]:
# Import packages
#import pysal as ps
import libpysal as lps

In [10]:
%matplotlib inline

import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pysal as ps
import geopandas as gpd

In [11]:
from sklearn import cluster
from sklearn.preprocessing import scale
from scipy.special import factorial
sns.set(style="whitegrid")

In [12]:
# Load example data 
#lps.examples.explain('us_income')
csv_path = lps.examples.get_path('~/Downloads/max_nasic_diff.csv')

# Note the difference here 
f = ps.lib.io.open(csv_path)

~/Downloads/max_nasic_diff.csv is not a file in any installed dataset.

TypeError: expected str, bytes or os.PathLike object, not NoneType

In [13]:
dat11 = ps.open(ps.examples.get_path('~/Downloads/max_nasic_diff.csv'), 'r')

AttributeError: module 'pysal' has no attribute 'open'

In [14]:
dat1=pd.read_csv("~/Downloads/max_nasic_diff.csv")

In [15]:
dat1.to_csv("max_nasic_diff.csv")

In [16]:
dat2=pd.read_csv("~/Downloads/max_nasic_diff_zip.csv")

In [17]:
dat1.head()

,Unnamed: 0,Unnamed: 0.1,zipcode,maxNaics_est,totalEstab,maxNaics_emp,totalEmp,year,total_tran,pop,...,bus_ratio_total,public_ratio,car_ratio,bicy_ratio,walked_ratio,total_college,college_ratio,college_ratio_pop,diff_MaxtotalEstab,diff_MaxtotalEmp
0,0,0,91901,23,91,71,1770,2010,11346.0,25517.0,...,0.009519,0.009519,0.892385,0.000529,0.021153,2532.0,0.146156,0.099228,1.0,10.0
1,1,5308,91901,23,90,71,1760,2011,11114.0,26126.0,...,0.012957,0.012957,0.892388,0.000540,0.018175,2584.0,0.142181,0.098905,2.0,0.0
2,2,10616,91901,23,88,71,1760,2012,11018.0,26812.0,...,0.006807,0.006807,0.899347,0.002632,0.017608,2905.0,0.153728,0.108347,4.0,-180.0
3,3,15924,91901,23,84,23,1940,2013,11448.0,27840.0,...,0.005503,0.006988,0.904962,0.001310,0.021226,2827.0,0.147539,0.101545,-2.0,-240.0
4,4,21232,91901,23,86,72,2180,2014,11626.0,29260.0,...,0.003010,0.004215,0.910287,0.000344,0.021418,2967.0,0.148968,0.101401,-8.0,-40.0

In [18]:
dat2.head()

,Unnamed: 0,zipcode,maxNaics_est,totalEstab,maxNaics_emp,totalEmp,year,total_tran,pop,edut,...,bus_ratio_total,public_ratio,car_ratio,bicy_ratio,walked_ratio,total_college,college_ratio,college_ratio_pop,diff_MaxtotalEstab_zip,diff_MaxtotalEmp_zip
0,0,91901,23,91,71,1770,2010,11346.0,25517.0,17324.0,...,0.009519,0.009519,0.892385,0.000529,0.021153,2532.0,0.146156,0.099228,41.0,890.0
1,1,91902,54,50,62,880,2010,14936.0,33480.0,21847.0,...,0.015734,0.018546,0.928227,0.002076,0.007097,4917.0,0.225065,0.146864,44.0,670.0
2,2,91906,23,6,71,210,2010,2685.0,7405.0,4755.0,...,0.024953,0.024953,0.841341,0.000000,0.077095,360.0,0.075710,0.048616,-268.0,-5470.0
3,3,91910,62,274,44,5680,2010,39698.0,90020.0,57536.0,...,0.034888,0.041589,0.882765,0.004610,0.019900,9612.0,0.167061,0.106776,44.0,430.0
4,4,91911,44,230,44,5250,2010,61219.0,148517.0,91366.0,...,0.031542,0.038501,0.898953,0.002761,0.018638,13068.0,0.143029,0.087990,197.0,4600.0

In [19]:
##time series 
##classfication+spatial temporal pattern

In [20]:
dat11 = ps.open(ps.examples.get_path('~/Downloads/max_nasic_diff.csv'), 'r')

AttributeError: module 'pysal' has no attribute 'open'

In [21]:
##modeling
##base value
##difference dependent variable