# US-Ignite Fed_Notebook

# Data from 2009-2016

In [38]:
#import libraries from Carto.
from cartoframes.auth import set_default_credentials
from cartoframes.viz import Map, Layer
import cartoframes
cartoframes.__version__
#from cartoframes.viz.helpers import color_continuous_layer
import pandas as pd
import geopandas as gpd
import requests
import json
from autocensus import Query #Library from Socrata to gather ACS Data
from cartoframes.data.services import Geocoding
#import censusdata
#set_default_credentials('creds_usignite.json')
set_default_credentials(
    base_url='https://usignite-admin.carto.com/',
    api_key='81c922dc336bd82103d92a768816a4567c444909'
)

from cartoframes.data.observatory import Catalog, Variable, Geography, Dataset

In [39]:
import numpy as np

from linearmodels import PanelOLS
from linearmodels import RandomEffects
import ipywidgets as widgets
from ipywidgets import Output, Tab
from IPython.display import clear_output
from cartoframes.data.services import Isolines
from cartoframes.data.observatory import Variable
from cartoframes.data.observatory import Enrichment
from cartoframes.data.observatory import Catalog

In [3]:
# Function that uses API Call to obtain data from HUD and some Data Wrangling *Need to rework with the API Key
def hudzip(zipcode):
    # API Call to obtain data from HUD and some Data Wrangling
    hudresponse = requests.get(
        'https://www.huduser.gov/hudapi/public/usps',
        params={'type': '1', 'query': zipcode},
        headers = {"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw"}
    )
    return hudresponse.json()

#Type:1 -> Zip to Tract Conversion
# Query : 5 Digit Zip Code Returns the list of Census Tracts within the Zip Code

In [4]:
#API to get the Zip codes for City of Portland
zipresponses = requests.get('https://api.censusreporter.org/1.0/geo/show/tiger2018?geo_ids=860|31000US38900')

In [16]:
#API to get the Zip codes for City of Sandiego
#zipresponses = requests.get('https://api.censusreporter.org/1.0/geo/show/tiger2018?geo_ids=860|31000US41740')

In [7]:
##covert json for san diego and portland
zipdfs = pd.DataFrame(zipresponses.json())
#zipdfp=pd.DataFrame(zipresponsep.json())

In [8]:
##combine zipcode of Portland with the zip cdoes of San Diego
#zipdf=zipdfs.append(zipdfp,ignore_index=True)

In [9]:
zipdf=zipdfs

In [10]:
zipdict = []

In [11]:
for i in zipdf.features:
    features = pd.DataFrame(i)
    zipcode = features.properties['name']
    zipdict.append(zipcode)

Converting the ratio of Zip code to Census tracts from a dictionary to a Dataframe

In [12]:
##merge zip code with corresponding geoid(census tract)
c = []
for k in zipdict:
    huddf_results = pd.DataFrame(hudzip(k))
    temp = huddf_results.data.results
    b = pd.DataFrame(temp)
    b['zipcode']=huddf_results.data.input
    c.append(b)
    ratio_zip_tract = pd.concat(c)

In [13]:
#Working with the ZipCode Business Pattern Dataset

In [14]:
#converting Zipdict to a string
zipcodes = ","
zipcodes = zipcodes.join(zipdict)

In [15]:
zipcodes = 'zipcode:'+zipcodes

11	Agriculture, Forestry, Fishing and Hunting
21	Mining, Quarrying, and Oil and Gas Extraction
22	Utilities
23	Construction
31-33	Manufacturing
42	Wholesale Trade
44-45	Retail Trade
48-49	Transportation and Warehousing
51	Information
52	Finance and Insurance
53	Real Estate and Rental and Leasing
54	Professional, Scientific, and Technical Services
55	Management of Companies and Enterprises
56	Administrative and Support and Waste Management and Remediation Services
61	Educational Services
62	Health Care and Social Assistance
71	Arts, Entertainment, and Recreation
72	Accommodation and Food Services
81	Other Services (except Public Administration)
92

In [16]:
#Creating a list of NAICS code that we want the data for corresponding business types
#listNAICS = [00,11,21,51,]
listNAICS = [11,21,22,23,31,32,33,42,43,44,45,48,49,51,52,53,54,55,56,61,62,71,72,81,92,]

In [17]:
naicscode=['NAICS2007','NAICS2007','NAICS2007','NAICS2012','NAICS2012','NAICS2012','NAICS2012','NAICS2012','NAICS2017']

In [18]:

year=['2009','2010','2011','2012','2013','2014','2015','2016','2017']

In [19]:
zbpdfs=[]

In [20]:
j=0
for i in naicscode:
  
    url='https://api.census.gov/data/'+year[j]+'/zbp'
    
    temp= requests.get(
    url,
    params={'get':'EMPSZES,ESTAB', 'for':zipcodes,i:listNAICS,})
    zbpdf = pd.DataFrame(temp.json())
    zbpdf.columns = zbpdf.iloc[0]
    emcolumns='EMPSZES'+year[j]
    escolumns='ESTAB'+year[j]
    zbpdf.columns=[emcolumns, escolumns, 'NAICS', 'zipcode']
    if j>0:
        zbpdf=zbpdf.loc[:,~zbpdf.columns.duplicated()]
    zbpdf.drop(zbpdf.index[:1], inplace=True)
    zbpdfs.append(zbpdf)  
    j=j+1

In [21]:
#Converting the code for Employee sizes to average of High and low thresholds 
def empscovert(i):
    i=int(i)

    x=100
    if i>=207 and i<=232:
        x=10

    if i>=235 and i<=243:
        x=50
    if i>=249 and i<=252:
        x=200
    if i>=253 and i<=254:
        x=750
    if i>=260 and i<=263:
        x=1500
    if i>=270 and i<=271:
        x=3750
    if i>=272 and i<=273 :
        x=7500
    if i==280 or i==281:
        x=17500
    if i==282:
        x=37500
    if i==283:
        x=75000
    if i>=290:
        x=100000    
    return x

In [22]:
def processestab2(df, dftract,yearlist):
    j=0
    dflist=[]
    for i in df:
        estab="ESTAB"+yearlist[j]
        noemp="NoEmp"+yearlist[j]
        cestab="CEstab"+yearlist[j]
        totalemp="totalEmp"+yearlist[j]
        empszes="EMPSZES"+yearlist[j]
        
        temp = i
        temp=temp[(temp[empszes]!='001')]
        #pd.merge(i,dftract,right_on='zipcode',left_on='zipcode')
        
        temp[estab]=pd.to_numeric(temp[estab])
        temp[noemp]=temp[empszes].apply(lambda x: empscovert(x))
        
        #temp[cestab]=temp[estab]*temp["bus_ratio"]
        temp[totalemp]=temp[estab]*temp[noemp]
        temp=temp.groupby(['zipcode'], as_index=False).agg({totalemp: 'sum',  estab:'sum'
                                                               })            
    
    
        temp=pd.merge(temp,dftract,right_on='zipcode',left_on='zipcode')
        temp[cestab]=temp[estab]*temp["bus_ratio"]
    
        estabr="estabratio"+yearlist[j]
        empr="Empratio"+yearlist[j]
        temp[estabr]=temp['bus_ratio']*temp[estab]
        temp[empr]=temp['bus_ratio']*temp[totalemp]
        if j==0:
            tempmerge=temp
        else:
            tempmerge= pd.merge(tempmerge,temp[['zipcode','geoid',estabr,empr]],on=['zipcode','geoid'])
        
        #dflist.append(temp)
        j=j+1
    return tempmerge

In [23]:
years=['2009','2010','2011','2012','2013','2014','2015','2016','2017']
#years=['2009','2010']
cbpNaics=processestab2(zbpdfs, ratio_zip_tract,years)
#cbpNaics=processestab2(new, ratio_zip_tract,years)

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
cbpNaicsg1=cbpNaics[['zipcode','geoid','estabratio2017','Empratio2017','estabratio2016','Empratio2016',
                      'estabratio2015','Empratio2015','estabratio2014','Empratio2014',
                     'estabratio2013','Empratio2013','estabratio2012','Empratio2012',
                      'estabratio2011','Empratio2011','estabratio2010','Empratio2010',
                      'estabratio2009','Empratio2009'
                    ]]

In [ ]:
##490351145.00, 490351027.02, 490351026.00, zipcode, type 6 county code

In [25]:
len(cbpNaicsg1)

1016

In [36]:
cbpNaicsg1.geoid[700:800]

700    41051010100
701    41051007900
702    41051007100
703    41051004300
704    41051007000
705    41051004200
706    41067031509
707    41009970900
708    41067032700
709    41051002000
710    41051002100
711    41051002502
712    41051002303
713    41051002402
714    41051001900
715    41051002702
716    41051002600
717    41051009201
718    41051009702
719    41051009801
720    41051009701
721    41051009202
722    41051009606
723    41051009301
724    41051009604
725    41051009603
726    41051008202
727    41051009302
728    41051010100
729    41051009804
          ...
770    41005021801
771    41005022101
772    41005021400
773    41005021500
774    41005021900
775    41005022000
776    41053005202
777    41053005201
778    41053005300
779    41053005100
780    41071031000
781    41071030900
782    41047010400
783    41005024000
784    41005023800
785    41047010501
786    41005024000
787    41071030501
788    41071030502
789    41053020400
790    41053020500
791    41071030502
792    41053020400
793    41071030501
794    53041972000
795    53041972000
796    53041971900
797    53011040101
798    53011040202
799    53015001501
Name: geoid, Length: 100, dtype: object

In [40]:
from cartoframes import read_carto
censustracts = read_carto("SELECT * FROM tract_2010census_dp1_simple where geoid10 like '410%'")

In [41]:
censustractsnew = read_carto("SELECT * FROM tract_2010census_dp1_simple where geoid10 like '530%'")

In [107]:
censustracts= censustracts.append(censustractsnew)

In [108]:
##get geoid, total population and population of 65+
popl=['dp0010001','dp0010015','dp0010016','dp0010017','dp0010018','dp0010019','geoid10']
censustracts1=censustracts[popl]

In [109]:
censustracts1.head()

,dp0010001,dp0010015,dp0010016,dp0010017,dp0010018,dp0010019,geoid10
0,4979,447,268,185,109,103,41029003002
1,4462,238,188,146,92,119,41045970600
2,3808,181,138,113,64,64,41003010400
3,3203,196,129,86,59,40,41003010300
4,3177,199,176,120,122,113,41063960300

In [46]:
#censustracts1['total_p']=censustracts1['dp0010001']
##censustracts1['ratio_65']=(censustracts1['dp0010015']+censustracts1['dp0010016']+censustracts1['dp0010017']
#+censustracts1['dp0010018']+censustracts1['dp0010019'])/censustracts1['total_p']

In [47]:
#censustracts1.head()

In [110]:
cbpNaics1 = pd.merge(censustracts,cbpNaicsg1,right_on='geoid',left_on='geoid10')

In [111]:
censustracts1=censustracts1.reset_index()

In [105]:
#cbpNaics1=cbpNaics1.drop(columns=['geoid10'])

In [112]:
type(cbpNaics1)

geopandas.geodataframe.GeoDataFrame

In [113]:
cbpNaics1.geoid=cbpNaics1.geoid.astype(str)

In [114]:
cbpNaics1.columns

Index(['cartodb_id', 'the_geom', 'namelsad10', 'aland10', 'awater10',
       'intptlat10', 'intptlon10', 'dp0010001', 'dp0010002', 'dp0010003',
       ...
       'estabratio2013', 'Empratio2013', 'estabratio2012', 'Empratio2012',
       'estabratio2011', 'Empratio2011', 'estabratio2010', 'Empratio2010',
       'estabratio2009', 'Empratio2009'],
      dtype='object', length=218)

In [115]:
cbpNaics1.reset_index(drop=True, inplace=True)

In [117]:
for i in cbpNaics1.columns:
    cbpNaics1[i] = cbpNaics1[i].astype(object)

In [118]:
cbpNaics1.head()

,cartodb_id,the_geom,namelsad10,aland10,awater10,intptlat10,intptlon10,dp0010001,dp0010002,dp0010003,...,estabratio2013,Empratio2013,estabratio2012,Empratio2012,estabratio2011,Empratio2011,estabratio2010,Empratio2010,estabratio2009,Empratio2009
0,54823,"(POLYGON ((-122.67809 45.56266900000014, -122....",Census Tract 38.03,1.23125e+06,0,+45.5663019,-122.6847298,3933,263,220,...,28.0929,638.06,27.7896,614.934,37.4571,1022.11,39.1632,1037.27,38.9736,1071.4
1,54874,"(POLYGON ((-122.723153 45.47230700000006, -122...",Census Tract 66.01,1.57524e+06,0,+45.4719196,-122.7334204,2513,145,156,...,20.484,342.596,20.7981,339.904,22.7276,377.821,22.3237,371.09,22.234,369.071
2,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,10.3988,140.662,9.86098,134.631,12.2895,206.347,12.4525,207.977,12.8437,216.127
3,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,20.3892,327.582,20.7457,325.443,31.5819,592.428,32.1166,580.308,31.8314,577.813
4,54795,"(POLYGON ((-122.579016 45.55542500000013, -122...",Census Tract 29.01,1.53618e+06,0,+45.5514471,-122.5927389,4428,312,196,...,42.7737,915.31,40.641,870.878,48.1649,1039.72,49.3498,1049.79,49.4682,995.882

In [119]:
cbpNaics1.to_csv("~/Downloads/city_portland.csv")

In [50]:

def finaldatamerge(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
    
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    for i in yearlist:
        
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        tempfinal= pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id')
        yearstr=str(i)
        emprat='Empratio'+yearstr
        estabr='estabratio'+yearstr
        tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry',
                             'edut','collegemale','collegefemale',
                             'households', 'income', 'gini', 
                              'zipcode', 'geoid', emprat, estabr]]
        tempfinal.columns=['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale',
                           'collegefemale','households', 'income', 'gini', 
                         'zipcode', 'geoid',
                           'Empratio', 'estabratio']
        frames.append(tempfinal)


    final = pd.concat(frames)
    import numpy as np
    final = final.replace(np.nan, '', regex=True)
    final=final[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 'gini', 
               'zipcode', 'geoid',  'Empratio', 'estabratio']]

    return final

In [51]:
variablelist=['B15002_001E','B15002_015E','B15002_032E','B01001_001E','B00002_001E',
             'B19001_001E','B19083_001E']
variablename=['edut','collegemale','collegefemale','pop','households','income','gini']
yearlist=[2009,2010,2011,2012,2013,2014,2015,2016,2017]
dfem=cbpNaics1

In [52]:
df_finalraw=finaldatamerge(variablelist,variablename,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/autocensus/query.py:182: UserWarning: B19083_001E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [53]:
len(df_finalraw)

0

In [54]:
df_final=df_finalraw.sort_values(by=['zipcode','geo_id','year'])

In [55]:
variablename2=['edut','collegemale','collegefemale','pop','households','income','gini']
for i in variablename2:
    df_final[i] = pd.to_numeric(df_final[i])

In [56]:
df_final.head(500)

Empty DataFrame
Columns: [geo_id, pop, centroid, year, geometry, edut, collegemale, collegefemale, households, income, gini, zipcode, geoid, Empratio, estabratio]
Index: []

In [57]:
#B01001_010E ,#B01001_015E
#B01001_034E #B01001_039E
#B01001_020E #B01001_025E
#B01001_044E  #B01001_049E

In [58]:
variablelist2=['B01001_010E','B01001_011E','B01001_012E','B01001_013E','B01001_014E',
             'B01001_015E','B01001_034E','B01001_035E','B01001_036E','B01001_037E','B01001_038E',
              'B01001_039E']
variablename2=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
#yearlist=[2009,2010,2011,2012,2013,2014,2015,2016]
dfem2=cbpNaics1

In [59]:
#len(variablelist2)

len(variablename2)

12

In [60]:

def finaldatamerge2(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
    
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    
    for i in yearlist:
        
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        tempfinal= temp1
        #pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id')
        yearstr=str(i)
        
        #emprat='Empratio'+yearstr
        #estabr='estabratio'+yearstr
       # tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 'gini', 'total_p',
       #'ratio_65', 'zipcode', 'geoid', 'NAICS', emprat, estabr]]
        tempfinal=tempfinal[['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']]
        tempfinal.columns=['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
        frames.append(tempfinal)


    final = pd.concat(frames)
    import numpy as np
    final = final.replace(np.nan, '', regex=True)
    final=final[['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']]

    return final

In [61]:
df_age=finaldatamerge2(variablelist2,variablename2,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [80]:
len(df_age)

5584

In [79]:
df_final.columns

Index(['geo_id', 'pop', 'centroid', 'year', 'geometry', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'gini', 'zipcode', 'geoid',
       'Empratio', 'estabratio'],
      dtype='object')

In [81]:
len(df_final)

0

In [64]:
finalwitholdage = pd.merge(df_age,df_final[['geo_id','pop','year', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'gini',  'zipcode', 'Empratio', 'estabratio']], on=['geo_id','year'])

In [65]:
finalwitholdage=finalwitholdage.sort_values(by=['zipcode','geo_id','year'])

In [66]:
finalwitholdage.head()

Empty DataFrame
Columns: [geo_id, centroid, year, geometry, male1, male2, male3, male4, male5, male6, female1, female2, female3, female4, female5, female6, pop, edut, collegemale, collegefemale, households, income, gini, zipcode, Empratio, estabratio]
Index: []

[0 rows x 26 columns]

In [67]:
finalwitholdage['ratio_65']=(finalwitholdage['male1']+finalwitholdage['male2']+finalwitholdage['male3']+
finalwitholdage['male4']+finalwitholdage['male5']+finalwitholdage['male6']
                            +finalwitholdage['female1']+finalwitholdage['female2']+finalwitholdage['female3']+
finalwitholdage['female4']+finalwitholdage['female5']+finalwitholdage['female6'])/finalwitholdage['pop']

In [68]:
finalwitholdage=finalwitholdage.drop(columns=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6'])

In [69]:
finalwitholdage.head(500)

Empty DataFrame
Columns: [geo_id, centroid, year, geometry, pop, edut, collegemale, collegefemale, households, income, gini, zipcode, Empratio, estabratio, ratio_65]
Index: []

In [70]:
variablelist3=['B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E',
             'B01001_025E','B01001_044E','B01001_045E','B01001_046E','B01001_047E','B01001_048E',
              'B01001_049E']
variablename3=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
#yearlist=[2009,2010,2011,2012,2013,2014,2015,2016]
##communte time, public transportation,traffic flow , zipcode, varaibles, machine learning,k means
dfem3=cbpNaics1

In [71]:
df_ageyoung=finaldatamerge2(variablelist3,variablename3,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [72]:
finalwitholdage2 = pd.merge(df_ageyoung,finalwitholdage[['geo_id','pop','year', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'gini',  'zipcode',  'Empratio', 'estabratio','ratio_65']], on=['geo_id','year'])

In [73]:
finalwitholdage2['ratio_22_50']=(finalwitholdage2['male1']+finalwitholdage2['male2']+finalwitholdage2['male3']+
finalwitholdage2['male4']+finalwitholdage2['male5']+finalwitholdage2['male6']
                            +finalwitholdage2['female1']+finalwitholdage2['female2']+finalwitholdage2['female3']+
finalwitholdage2['female4']+finalwitholdage2['female5']+finalwitholdage2['female6'])/finalwitholdage2['pop']

In [74]:
finalwitholdage2=finalwitholdage2.sort_values(by=['zipcode','geo_id','year'])

In [75]:
finalwitholdage2=finalwitholdage2.drop(columns=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6'])

In [76]:
len(finalwitholdage2)

0

In [77]:
finalwitholdage2['diffEmpratio'] = finalwitholdage2.groupby('geo_id')['Empratio'].diff(-1)

In [78]:
finalwitholdage2['diffestabratio'] = finalwitholdage2.groupby('geo_id')['estabratio'].diff(-1)

ValueError: 'geo_id' is both an index level and a column label, which is ambiguous.

In [ ]:
finalwitholdage2['diffEmpratio'].plot(kind ="hist")

In [ ]:
len(finalwitholdage2)

In [ ]:
#variablelist4=['B08006_001E','B08006_002E','B08006_008E','B08006_009E','B08006_0010E',
#             'B08006_014E','B08006_015E','B08006_017E']
#variablename4=['total_tran','car','publictrans','bus','subway','bicy','walked','work_at_home']
#yearlist=[2009,2010,2011,2012,2013,2014,2015,2016]
##communte time, public transportation,traffic flow , zipcode, varaibles, machine learning,k means

variablelist4=['B08006_001E','B08006_002E','B08006_008E','B08006_009E',
            'B08006_014E','B08006_015E','B08006_017E']
variablename4=['total_tran','car','publictrans','bus','bicy','walked','work_at_home']
dfem4=cbpNaics1

In [ ]:

def finaldatamerge3(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
    
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    
    for i in yearlist:
        
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        tempfinal= temp1
        #pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id')
        yearstr=str(i)
        
        #emprat='Empratio'+yearstr
        #estabr='estabratio'+yearstr
       # tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 'gini', 'total_p',
       #'ratio_65', 'zipcode', 'geoid', 'NAICS', emprat, estabr]]
        tempfinal=tempfinal[['geo_id', 'centroid','year','geometry','total_tran','car','publictrans','bus','bicy','walked','work_at_home']]
        tempfinal.columns=['geo_id', 'centroid','year','geometry', 'total_tran','car','publictrans','bus','bicy','walked','work_at_home']
        frames.append(tempfinal)


    final = pd.concat(frames)
    import numpy as np
    final = final.replace(np.nan, '', regex=True)
    final=final[['geo_id', 'centroid','year','geometry','total_tran','car','publictrans','bus','bicy','walked','work_at_home']]

    return final

In [ ]:
df_city=finaldatamerge3(variablelist4,variablename4,dfem4)

In [ ]:
finalwitholdage2.columns

In [ ]:
df_city=df_city.sort_values(by=['geo_id','year'])

In [ ]:
df_city.head(100)

In [ ]:
finalwithcity = pd.merge(df_city,finalwitholdage2[['geo_id','year','pop', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'gini', 'zipcode', 'Empratio',
       'estabratio', 'ratio_65', 'ratio_22_50', 'diffEmpratio',
       'diffestabratio']], on=['geo_id','year'])

In [ ]:
finalwithcity=finalwithcity.sort_values(by=['zipcode','geo_id','year'])

In [ ]:
finalwithcity['bus_ratio']=finalwithcity['bus']/finalwithcity['publictrans']
finalwithcity['bus_ratio_total']=finalwithcity['bus']/finalwithcity['total_tran']
finalwithcity['public_ratio']=finalwithcity['publictrans']/finalwithcity['total_tran']
#finalwithcity['subway_ratio']=finalwithcity['subway']/finalwithcity['publictrans']
#finalwithcity['subway_ratio_total']=finalwithcity['subway']/finalwithcity['total_tran']
finalwithcity['car_ratio']=finalwithcity['car']/finalwithcity['total_tran']
finalwithcity['bicy_ratio']=finalwithcity['bicy']/finalwithcity['total_tran']
finalwithcity['walked_ratio']=finalwithcity['walked']/finalwithcity['total_tran']
finalwithcity['work_at_home']=finalwithcity['work_at_home']/finalwithcity['total_tran']

In [ ]:
finalwithcity=finalwithcity.drop(columns=['car','publictrans','bus','bicy','walked','work_at_home'])

In [ ]:
finalwithcity=finalwithcity.fillna(0)

In [ ]:
finalwithcity.head(100)

In [ ]:
finalwithcity.to_csv("~/Downloads/Final_merged_city_portland.csv")

In [84]:
cbpNaics1

,cartodb_id,the_geom,namelsad10,aland10,awater10,intptlat10,intptlon10,dp0010001,dp0010002,dp0010003,...,estabratio2013,Empratio2013,estabratio2012,Empratio2012,estabratio2011,Empratio2011,estabratio2010,Empratio2010,estabratio2009,Empratio2009
0,54823,"MULTIPOLYGON (((-122.67809 45.56267, -122.6946...",Census Tract 38.03,1.231249e+06,0.0,+45.5663019,-122.6847298,3933,263,220,...,28.092857,638.060440,27.789560,614.934066,37.457143,1022.109890,39.163187,1037.274725,38.973626,1071.395604
1,54874,"MULTIPOLYGON (((-122.72315 45.47231, -122.7231...",Census Tract 66.01,1.575238e+06,0.0,+45.4719196,-122.7334204,2513,145,156,...,20.483974,342.596154,20.798077,339.903846,22.727564,377.820513,22.323718,371.089744,22.233974,369.070513
2,54924,"MULTIPOLYGON (((-122.58001 45.46152, -122.5893...",Census Tract 86,1.282152e+06,3236.0,+45.4693388,-122.5861747,4333,337,339,...,10.398849,140.661553,9.860978,134.630872,12.289549,206.347076,12.452541,207.976989,12.843720,216.126558
3,54924,"MULTIPOLYGON (((-122.58001 45.46152, -122.5893...",Census Tract 86,1.282152e+06,3236.0,+45.4693388,-122.5861747,4333,337,339,...,20.389210,327.581888,20.745665,325.443160,31.581888,592.427746,32.116570,580.308285,31.831407,577.813102
4,54795,"MULTIPOLYGON (((-122.57902 45.55543, -122.5786...",Census Tract 29.01,1.536178e+06,0.0,+45.5514471,-122.5927389,4428,312,196,...,42.773733,915.310493,40.640971,870.877944,48.164882,1039.721627,49.349750,1049.793005,49.468237,995.881513
5,54795,"MULTIPOLYGON (((-122.57902 45.55543, -122.5786...",Census Tract 29.01,1.536178e+06,0.0,+45.5514471,-122.5927389,4428,312,196,...,2.862385,59.449541,2.899083,60.917431,4.192661,121.376147,4.036697,117.339450,4.055046,119.541284
6,54795,"MULTIPOLYGON (((-122.57902 45.55543, -122.5786...",Census Tract 29.01,1.536178e+06,0.0,+45.5514471,-122.5927389,4428,312,196,...,0.921986,20.992908,0.925532,20.650118,1.154846,26.347518,1.179669,25.472813,1.193853,25.886525
7,54523,"MULTIPOLYGON (((-123.59669 46.23543, -123.5838...",Census Tract 9512,1.066519e+09,39208299.0,+45.9851300,-123.5121325,3035,165,190,...,18.000000,223.902439,18.658537,230.487805,25.024390,500.487805,26.341463,513.658537,27.658537,709.024390
8,54547,"MULTIPOLYGON (((-121.53896 45.70905, -121.5389...",Census Tract 9503,5.656027e+06,4800086.0,+45.7119831,-121.5249697,5812,478,433,...,515.935852,7218.474697,508.223806,7203.050606,655.523877,9987.099073,657.837491,10557.790449,640.870991,9740.313614
9,54569,"MULTIPOLYGON (((-122.98491 45.30286, -122.9844...",Census Tract 302.01,3.452501e+06,0.0,+45.3072237,-122.9634448,6060,332,338,...,382.195588,5894.558824,374.589706,6198.794118,472.832353,8721.411765,465.860294,9323.544118,456.986765,9089.029412
10,54545,"MULTIPOLYGON (((-121.62779 45.59668, -121.6275...",Census Tract 9501,1.080175e+09,18086902.0,+45.4966594,-121.6818391,4223,281,299,...,6.861111,97.500000,5.416667,68.611111,9.750000,140.833333,10.111111,144.444444,10.833333,151.666667
11,54545,"MULTIPOLYGON (((-121.62779 45.59668, -121.6275...",Census Tract 9501,1.080175e+09,18086902.0,+45.4966594,-121.6818391,4223,281,299,...,1.430506,20.014255,1.409123,19.971490,1.817534,27.690663,1.823949,29.272986,1.776907,27.006415
12,54545,"MULTIPOLYGON (((-121.62779 45.59668, -121.6275...",Census Tract 9501,1.080175e+09,18086902.0,+45.4966594,-121.6818391,4223,281,299,...,45.473684,1193.684211,41.684211,1866.315789,51.157895,767.368421,55.894737,1373.684211,56.842105,2055.789474
13,54562,"MULTIPOLYGON (((-123.20573 45.19874, -123.2077...",Census Tract 307.02,4.038029e+06,0.0,+45.2007756,-123.2176953,7570,601,535,...,24.368475,447.737973,24.859775,455.598772,32.163767,601.678608,32.229273,613.797339,31.606960,623.950870
14,54546,"MULTIPOLYGON (((-121.53896 45.70921, -121.5389...",Census Tract 9502,6.719084e+07,3947182.0,+45.6673157,-121.6097633,6644,345,457,...,96.797577,1354.297933,95.350677,1351.404134,122.986458,1873.734854,123.420527,1980.805417,120.237349,1827.434070
15,54548,"MULTIPOLYGON (((-121.62779 45.59668, -121.6277...",Census Tract 9504,1.988196e+08,2272666.0,+45.6149428,-121.5211869,5667,383,442,...,54.836066,767.213115,54.016393,765.573770,69.672131,1061.475410,69.918033,1122.131148,68.114754,1035.245902
16,54548,"MULTIPOLYGON (((-121.62779 45.59668, -121.6277...",Census Tract 9504,1.988196e+08,2272666.0,+45.6149428,-121.5211869,5667,383,442,...,2.526316,66.315789,2.315789,103.684211,2.842105,42.631579,3.105263,76.315789,3.157895,114.210526
17,54563,"MULTIPOLYGON (((-123.18260 45.22815, -123.1767...",Census Tract 308.01,3.120393e+06,0.0,+45.2204487,-123.1887422,5383,436,383,...,506.026612,9297.558854,516.228762,9460.793245,667.900716,12494.232344,669.261003,12745.885363,656.338280,12956.729785
18,54564,"MULTIPOLYGON (((-123.20573 45.19874, -123.2035...",Census Tract 308.02,3.174380e+06,0.0,+45.1993167,-123.1953953,4530,282,236,...,48.356192,888.480041,49.331116,904.078813,63.824974,1193.955988,63.954964,1218.004094,62.720061,1238.152508
19,54560,"MULTIPOLYGON (((-123.13698 45.16708, -123.1439...",Census Tract 309,1.367024e+08,3246633.0,+45.1664441,-123.0647432,4436,330,321,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,54560,"MULTIPOLYGON (((-123.13698 45.16708, -123.1439...",Census Tract 309,1.367024e+08,3246633.0,+45.1664441,-123.0647432,4436,330,321,...,39.405405,423.243243,40.864865,437.837838,54.729730,751.621622,58.378378,788.108108,61.297297,817.297297
21,54560,"MULTIPOLYGON (((-123.13698 45.16708, -123.1439...",Census Tract 309,1.367024e+08,3246633.0,+45.1664441,-123.0647432,4436,330,321,...,0.565217,6.956522,0.543478,6.304348,0.902174,12.934783,0.847826,11.956522,0.891304,12.826087
22,54560,"MULTIPOLYGON (((-123.13698 45.16708, -123.1439...",Census Tract 309,1.367024e+08,3246633.0,+45.1664441,-123.0647432,4436,330,321,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,54560,"MULTIPOLYGON (((-123.13698 45.16708, -123.1439...",Census Tract 309,1.367024e+08,3246633.0,+45.1664441,-123.0647432,4436,330,321,...,0.503121,6.791511,0.493134,6.654182,0.571785,8.551810,0.586767,8.751561,0.585518,9.513109
24,54566,"MULTIPOLYGON (((-122.95451 45.28582, -122.9554...",Census Tract 302.02,5.280931e+06,175840.0,+45.2929716,-122.9636086,6125,503,439,...,140.552206,2167.720588,137.755147,2279.602941,173.883824,3207.294118,171.319853,3428.727941,168.056618,3342.485294
25,54565,"MULTIPOLYGON (((-123.49417 45.11375, -123.4939...",Census Tract 305.01,3.166344e+08,160368.0,+45.1878958,-123.3841287,6249,253,275,...,6.853634,125.926305,6.991812,128.137155,9.046059,169.222108,9.064483,172.630502,8.889458,175.486182
26,54565,"MULTIPOLYGON (((-123.49417 45.11375, -123.4939...",Census Tract 305.01,3.166344e+08,160368.0,+45.1878958,-123.3841287,6249,253,275,...,45.669065,630.431655,45.669065,630.431655,55.597122,789.280576,51.625899,824.028777,50.633094,814.100719
27,54565,"MULTIPOLYGON (((-123.49417 45.11375, -123.4939...",Census Tract 305.01,3.166344e+08,160368.0,+45.1878958,-123.3841287,6249,253,275,...,1.764706,20.000000,1.647059,16.470588,2.647059,47.058824,2.588235,46.470588,2.470588,45.294118
28,54559,"MULTIPOLYGON (((-123.15764 45.43348, -123.1353...",Census Tract 304,5.216047e+08,867281.0,+45.3601119,-123.2813130,7603,395,438,...,46.175439,540.350877,46.175439,540.350877,67.789474,795.789474,66.807018,785.964912,71.719298,835.087719
29,54559,"MULTIPOLYGON (((-123.15764 45.43348, -123.1353...",Census Tract 304,5.216047e+08,867281.0,+45.3601119,-123.2813130,7603,395,438,...,3.312500,33.125000,3.187500,31.875000,4.250000,59.375000,4.187500,61.250000,4.812500,67.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,70080,"MULTIPOLYGON (((-122.56238 45.66697, -122.5629...",Census Tract 407.03,4.839629e+06,0.0,+45.6814588,-122.5633821,6384,419,465,...,99.823299,2024.870993,96.982799,1919.366693,120.653636,2477.998436,123.223612,2482.056294,126.064113,2549.687256
987,70080,"MULTIPOLYGON (((-122.56238 45.66697, -122.5629...",Census Tract 407.03,4.839629e+06,0.0,+45.6814588,-122.5633821,6384,419,465,...,0.319437,4.677856,0.317271,4.417975,0.385490,6.199242,0.388738,5.912290,0.391446,6.415809
988,70081,"MULTIPOLYGON (((-122.56383 45.66864, -122.5629...",Census Tract 411.04,1.911989e+06,0.0,+45.6692734,-122.5736204,3799,336,315,...,23.080532,468.178264,22.423769,443.784206,27.896794,572.947615,28.491009,573.885848,29.147772,589.523065
989,70082,"MULTIPOLYGON (((-122.55112 45.64280, -122.5455...",Census Tract 413.17,2.944218e+06,0.0,+45.6322010,-122.5524673,4080,307,233,...,5.110991,74.845696,5.076340,70.687602,6.167840,99.187872,6.219816,94.596643,6.263129,102.652951
990,70082,"MULTIPOLYGON (((-122.55112 45.64280, -122.5455...",Census Tract 413.17,2.944218e+06,0.0,+45.6322010,-122.5524673,4080,307,233,...,139.073298,2460.174520,133.106457,2294.938918,152.613438,3137.181501,153.531414,3233.568935,150.547993,3109.642234
991,70088,"MULTIPOLYGON (((-120.45025 45.69650, -120.4823...",Census Tract 9501,3.308173e+09,54066042.0,+45.9129638,-120.5588280,8325,444,454,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
992,70089,"MULTIPOLYGON (((-120.85426 45.70431, -120.8542...",Census Tract 9502,9.063933e+08,23252044.0,+45.7833556,-121.1252466,4224,188,207,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
993,70090,"MULTIPOLYGON (((-121.25954 45.94070, -121.2601...",Census Tract 9503,6.321128e+08,7745294.0,+45.8749299,-121.4786823,7769,482,546,...,40.137255,671.862745,40.137255,602.058824,45.372549,1090.686275,45.372549,1369.901961,47.990196,1396.078431
994,70090,"MULTIPOLYGON (((-121.25954 45.94070, -121.2601...",Census Tract 9503,6.321128e+08,7745294.0,+45.8749299,-121.4786823,7769,482,546,...,18.000000,180.000000,19.000000,190.000000,20.000000,200.000000,25.000000,250.000000,23.000000,230.000000
995,70090,"MULTIPOLYGON (((-121.25954 45.94070, -121.2601...",Census Tract 9503,6.321128e+08,7745294.0,+45.8749299,-121.4786823,7769,482,546,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
996,70090,"MULTIPOLYGON (((-121.25954 45.94070, -121.2601...",Census Tract 9503,6.321128e+08,7745294.0,+45.8749299,-121.4786823,7769,482,546,...,158.000000,1850.000000,157.000000,1840.000000,184.000000,2430.000000,189.000000,2280.000000,182.000000,2210.000000
997,70119,"MULTIPOLYGON (((-122.05263 46.54437, -122.0528...",Census Tract 9720,1.750057e+09,14077252.0,+46.4997923,-121.6769309,2911,104,89,...,18.000000,180.000000,20.000000,200.000000,29.000000,290.000000,30.000000,300.000000,26.000000,260.000000
998,70119,"MULTIPOLYGON (((-122.05263 46.54437, -122.0528...",Census Tract 9720,1.750057e+09,14077252.0,+46.4997923,-121.6769309,2911,104,89,...,26.538462,300.769231,23.884615,274.230769,33.615385,539.615385,31.846154,557.307692,35.384615,592.692308
999,70164,"MULTIPOLYGON (((-122.79527 45.88081, -122.7980...",Census Tract 15.02,7.199414e+07,9119327.0,+45.9208101,-122.7587171,7918,590,595,...,213.661692,3214.726368,218.562189,3106.915423,295.009950,5439.552239,291.089552,5429.751244,304.810945,5547.363184
1000,70165,"MULTIPOLYGON (((-122.24567 46.06325, -122.2456...",Census Tract 15.01,4.055732e+08,15686304.0,+46.0361327,-122.4769936,3005,168,200,...,0.941176,11.294118,0.894118,9.882353,0.917647,9.176471,1.082353,11.764706,1.247059,12.470588
1001,70165,"MULTIPOLYGON (((-122.24567 46.06325, -122.2456...",Census Tract 15.01,4.055732e+08,15686304.0,+46.0361327,-122.4769936,3005,168,200,...,1.807629,27.197347,1.849088,26.285240,2.495854,46.019900,2.462687,45.936982,2.578773,46.932007
1002,70784,"MULTIPOLYGON (((-122.16683 45.58037, -122.1837...",Census Tract 9502,3.337553e+08,16048990.0,+45.6637874,-122.0847591,4264,211,249,...,9.000000,360.000000,8.000000,120.000000,13.000000,360.000000,16.000000,430.000000,20.000000,430.000000
1003,70784,"MULTIPOLYGON (((-122.16683 45.58037, -122.1837...",Census Tract 9502,3.337553e+08,16048990.0,+45.6637874,-122.0847591,4264,211,249,...,15.106383,217.021277,13.404255,217.021277,16.382979,221.276596,18.510638,242.553191,18.723404,253.191489
1004,70784,"MULTIPOLYGON (((-122.16683 45.58037, -122.1837...",Census Tract 9502,3.337553e+08,16048990.0,+45.6637874,-122.0847591,4264,211,249,...,3.149701,37.724551,3.053892,36.766467,3.904192,52.215569,3.844311,54.970060,3.916168,55.688623
1005,70785,"MULTIPOLYGON (((-122.24101 46.38637, -122.1641...",Census Tract 9501,3.564292e+09,34843360.0,+46.0834480,-121.9117513,98,1,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1006,70785,"MULTIPOLYGON (((-122.24101 46.38637, -122.1641...",Census Tract 9501,3.564292e+09,34843360.0,+46.0834480,-121.9117513,98,1,4,...,1.000000,10.000000,0.933333,9.333333,1.166667,18.000000,1.333333,14.666667,1.400000,16.666667
1007,70785,"MULTIPOLYGON (((-122.24101 46.38637, -122.1641...",Census Tract 9501,3.564292e+09,34843360.0,+46.0834480,-121.9117513,98,1,4,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1008,70786,"MULTIPOLYGON (((-121.99231 45.75051, -121.9936...",Census Tract 9503,7.793573e+07,4190812.0,+45.7307630,-121.9349536,2010,115,124,...,52.872340,759.574468,46.914894,759.574468,57.340426,774.468085,64.787234,848.936170,65.531915,886.170213
1009,70787,"MULTIPOLYGON (((-121.82732 45.71615, -121.8260...",Census Tract 9504,2.195268e+08,16563672.0,+45.7497026,-121.6850022,2234,123,126,...,5.862745,98.137255,5.862745,87.941176,6.627451,159.313725,6.627451,200.098039,7.009804,203.921569
1010,70787,"MULTIPOLYGON (((-121.82732 45.71615, -121.8260...",Census Tract 9504,2.195268e+08,16563672.0,+45.7497026,-121.6850022,2234,123,126,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1011,70787,"MULTIPOLYGON (((-121.82732 45.71615, -121.8260...",Census Tract 9504,2.195268e+08,16563672.0,+45.7497026,-121.6850022,2234,123,126,...,3.021277,43.404255,2.680851,43.404255,3.276596,44.255319,3.702128,48.510638,3.744681,50.638298
1012,70787,"MULTIPOLYGON (((-121.82732 45.71615, -121.8260...",Census Tract 9504,2.195268e+08,16563672.0,+45.7497026,-121.6850022,2234,123,126,...,14.000000,140.000000,11.000000,110.000000,13.000000,130.000000,14.000000,140.000000,11.000000,110.000000
1013,70787,"MULTIPOLYGON (((-121.82732 45.71615, -121.8260...",Census Tract 9504,2.195268e+08,16563672.0,+45.7497026,-121.6850022,2234,123,126,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1014,70788,"MULTIPOLYGON (((-121.82532 45.71752, -121.8260...",Census Tract 9505,9.267394e+07,1206032.0,+45.7851341,-121.8925277,2460,154,145,...,29.000000,290.000000,27.066667,270.666667,33.833333,522.000000,38.666667,425.333333,40.600000,483.333333
1015,70788,"MULTIPOLYGON (((-121.82532 45.71752, -121.8260...",Census Tract 9505,9.267394e+07,1206032.0,+45.7851341,-121.8925277,2460,154,145,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000