# US-Ignite Fed_Notebook

In [1]:
#import libraries from Carto.
from cartoframes.auth import set_default_credentials
from cartoframes.viz import Map, Layer
from cartoframes.data import Dataset
from cartoframes.viz.helpers import color_continuous_layer
import pandas as pd
import geopandas as gpd
import requests
import json
from autocensus import Query #Library from Socrata to gather ACS Data
#import censusdata
#set_default_credentials('creds_usignite.json')
set_default_credentials(
    base_url='https://usignite-admin.carto.com/',
    api_key='81c922dc336bd82103d92a768816a4567c444909'
)

In [2]:
# Function that uses API Call to obtain data from HUD and some Data Wrangling *Need to rework with the API Key
def hudzip(zipcode):
    # API Call to obtain data from HUD and some Data Wrangling
    hudresponse = requests.get(
        'https://www.huduser.gov/hudapi/public/usps',
        params={'type': '1', 'query': zipcode},
        headers = {"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw"}
    )
    return hudresponse.json()

#Type:1 -> Zip to Tract Conversion
# Query : 5 Digit Zip Code Returns the list of Census Tracts within the Zip Code

In [3]:
hudzip(91901)

{'data': {'year': '2019',
  'quarter': '4',
  'input': '91901',
  'crosswalk_type': 'zip-tract',
  'results': [{'geoid': '06073021205',
    'res_ratio': 0.40826372315035797,
    'bus_ratio': 0.6144814090019569,
    'oth_ratio': 0.7639751552795031,
    'tot_ratio': 0.43031453362255967},
   {'geoid': '06073021204',
    'res_ratio': 0.2866945107398568,
    'bus_ratio': 0.03522504892367906,
    'oth_ratio': 0.06832298136645963,
    'tot_ratio': 0.2645065075921909},
   {'geoid': '06073021206',
    'res_ratio': 0.1733293556085919,
    'bus_ratio': 0.05870841487279843,
    'oth_ratio': 0.037267080745341616,
    'tot_ratio': 0.16241865509761388},
   {'geoid': '06073021202',
    'res_ratio': 0.06786992840095465,
    'bus_ratio': 0.28180039138943247,
    'oth_ratio': 0.12422360248447205,
    'tot_ratio': 0.08392082429501084},
   {'geoid': '06073015502',
    'res_ratio': 0.035053699284009546,
    'bus_ratio': 0.005870841487279843,
    'oth_ratio': 0,
    'tot_ratio': 0.03226681127982647},
   {'geoid': '06073021302',
    'res_ratio': 0.028788782816229118,
    'bus_ratio': 0.003913894324853229,
    'oth_ratio': 0.006211180124223602,
    'tot_ratio': 0.026572668112798264}]}}

In [4]:
#API to get the Zip codes for City of Portland
zipresponsep = requests.get('https://api.censusreporter.org/1.0/geo/show/tiger2018?geo_ids=860|31000US38900')

In [5]:
#API to get the Zip codes for City of Sandiego
zipresponses = requests.get('https://api.censusreporter.org/1.0/geo/show/tiger2018?geo_ids=860|31000US41740')

In [6]:
##covert json for san diego and portland
zipdfs = pd.DataFrame(zipresponses.json())
zipdfp=pd.DataFrame(zipresponsep.json())

In [7]:
##combine zipcode of Portland with the zip cdoes of San Diego
#zipdf=zipdfs.append(zipdfp,ignore_index=True)

In [8]:
zipdf=zipdfs

In [9]:
zipdict = []

In [10]:
for i in zipdf.features:
    features = pd.DataFrame(i)
    zipcode = features.properties['name']
    zipdict.append(zipcode)

In [11]:
print(zipdict)

['91901', '91902', '91905', '91906', '91910', '91911', '91913', '91914', '91915', '91916', '91917', '91931', '91932', '91934', '91935', '91941', '91942', '91945', '91948', '91950', '91962', '91963', '91977', '91978', '91980', '92003', '92004', '92007', '92008', '92009', '92010', '92011', '92014', '92019', '92020', '92021', '92024', '92025', '92026', '92027', '92028', '92029', '92036', '92037', '92040', '92054', '92055', '92056', '92057', '92058', '92059', '92060', '92061', '92064', '92065', '92066', '92067', '92069', '92070', '92071', '92075', '92078', '92081', '92082', '92083', '92084', '92086', '92091', '92101', '92102', '92103', '92104', '92105', '92106', '92107', '92108', '92109', '92110', '92111', '92113', '92114', '92115', '92116', '92117', '92118', '92119', '92120', '92121', '92122', '92123', '92124', '92126', '92127', '92128', '92129', '92130', '92131', '92132', '92134', '92135', '92139', '92140', '92145', '92147', '92154', '92155', '92173', '92672']

In [12]:
#test with 30 zip codes
#zipdict=zipdict[0:30]

Converting the ratio of Zip code to Census tracts from a dictionary to a Dataframe

In [13]:
##merge zip code with corresponding geoid(census tract)
c = []
for k in zipdict:
    huddf_results = pd.DataFrame(hudzip(k))
    temp = huddf_results.data.results
    b = pd.DataFrame(temp)
    b['zipcode']=huddf_results.data.input
    c.append(b)
    ratio_zip_tract = pd.concat(c)

In [14]:
ratio_zip_tract

    bus_ratio        geoid  oth_ratio  res_ratio  tot_ratio zipcode
0    0.614481  06073021205   0.763975   0.408264   0.430315   91901
1    0.035225  06073021204   0.068323   0.286695   0.264507   91901
2    0.058708  06073021206   0.037267   0.173329   0.162419   91901
3    0.281800  06073021202   0.124224   0.067870   0.083921   91901
4    0.005871  06073015502   0.000000   0.035054   0.032267   91901
5    0.003914  06073021302   0.006211   0.028789   0.026573   91901
0    0.205607  06073003207   0.591304   0.356399   0.353147   91902
1    0.099688  06073013411   0.026087   0.276132   0.263150   91902
2    0.140187  06073013410   0.113043   0.163302   0.161295   91902
3    0.517134  06073013412   0.217391   0.055845   0.081180   91902
4    0.034268  06073003204   0.052174   0.083686   0.080724   91902
5    0.000000  06073013416   0.000000   0.064637   0.060353   91902
6    0.003115  06073013417   0.000000   0.000000   0.000152   91902
0    1.000000  06073021100   1.000000   1.000000   1.000000   91905
0    1.000000  06073021100   1.000000   1.000000   1.000000   91906
0    0.207114  06073012700   0.137102   0.075050   0.090073   91910
1    0.047276  06073012402   0.108238   0.073173   0.074950   91910
2    0.002701  06073013414   0.000601   0.080101   0.066983   91910
3    0.050428  06073013409   0.021347   0.068122   0.062263   91910
4    0.049527  06073012502   0.061636   0.059823   0.059317   91910
5    0.036470  06073012501   0.067649   0.057514   0.057122   91910
6    0.074291  06073012401   0.063139   0.051994   0.054597   91910
7    0.067987  06073012600   0.103728   0.046545   0.053695   91910
8    0.024764  06073013421   0.059832   0.052932   0.051741   91910
9    0.024764  06073012303   0.051413   0.053220   0.051139   91910
10   0.019361  06073012800   0.035177   0.055060   0.050688   91910
11   0.022963  06073013412   0.042093   0.050947   0.048193   91910
12   0.018010  06073012304   0.033674   0.052318   0.048163   91910
13   0.055380  06073013000   0.049609   0.045427   0.046510   91910
14   0.008104  06073013401   0.016536   0.051488   0.045097   91910
..        ...          ...        ...        ...        ...     ...
7    0.000737  06073010003   0.000000   0.063188   0.052387   92154
8    0.058954  06073010106   0.059429   0.050208   0.051749   92154
9    0.005895  06073010109   0.014974   0.057619   0.049408   92154
10   0.020634  06073010001   0.032288   0.052264   0.047705   92154
11   0.000368  06073010004   0.000000   0.047080   0.039015   92154
12   0.001474  06073010104   0.001872   0.045795   0.038200   92154
13   0.009211  06073010011   0.014974   0.040098   0.035220   92154
14   0.018791  06073013205   0.004679   0.000171   0.002305   92154
15   0.001105  06073021302   0.000936   0.000000   0.000177   92154
16   0.000000  06073004501   0.000468   0.000171   0.000177   92154
17   0.001105  06073010009   0.000000   0.000043   0.000142   92154
0    1.000000  06073021600   1.000000   0.000000   1.000000   92155
0    0.112128  06073010005   0.164030   0.253177   0.230373   92173
1    0.382151  06073010009   0.172356   0.217792   0.226611   92173
2    0.148741  06073010013   0.241465   0.210067   0.208494   92173
3    0.028604  06073010012   0.159867   0.163593   0.151470   92173
4    0.043478  06073010111   0.059117   0.079990   0.074349   92173
5    0.280320  06073010015   0.083264   0.028781   0.057024   92173
6    0.004577  06073010106   0.119900   0.046599   0.051678   92173
0    0.294704  06059042108   0.418902   0.179583   0.222076   92672
1    0.120249  06059042103   0.192378   0.189507   0.185049   92672
2    0.263551  06059042107   0.193598   0.086641   0.114456   92672
3    0.070405  06059042109   0.021037   0.134868   0.113974   92672
4    0.046729  06059042113   0.017988   0.108218   0.090925   92672
5    0.036760  06059042114   0.075000   0.095618   0.088515   92672
6    0.001869  06073018700   0.052439   0.070473   0.063056   92672
7    0.043614  06059042206   0.023476   0.063671   0.056483   92672
8    0.068536  06059042106   0.003354   0.063838   0.055475   92672
9    0.004984  06059042201   0.000610   0.007583   0.006398   92672
10   0.048598  06059032023   0.001220   0.000000   0.003593   92672

[1007 rows x 6 columns]

In [15]:
#Working with the ZipCode Business Pattern Dataset

In [16]:
#converting Zipdict to a string
zipcodes = ","
zipcodes = zipcodes.join(zipdict)

In [17]:
zipcodes = 'zipcode:'+zipcodes

In [18]:
#Creating a list of NAICS code that we want the data for corresponding business types
listNAICS = [00,11,21,51,]

In [19]:
#API Call to get data from Zip Code Business PatCusterns and some Data Wrangling
zbpresponse = requests.get(
    'https://api.census.gov/data/2016/zbp',
    params={'get':'EMPSZES,ESTAB', 'for':zipcodes,'NAICS2012':listNAICS,}
)
#Getting Parameters : Establishments, Employee Size and Geo ID for a selected Zip-code and NAICS code.

In [20]:
print(zbpresponse)

<Response [200]>

In [21]:
#if zbpresponse.status_code == 200:
#    print(zbpresponse.json())

In [22]:
zbpdf = pd.DataFrame(zbpresponse.json())

In [23]:
zbpdf.columns = zbpdf.iloc[0]

In [24]:
zbpdf.columns

Index(['EMPSZES', 'ESTAB', 'NAICS2012', 'zipcode'], dtype='object', name=0)

In [25]:
cbpNaics = pd.merge(zbpdf,ratio_zip_tract,right_on='zipcode',left_on='zipcode')

In [26]:
cbpNaics["ESTAB"] = pd.to_numeric(cbpNaics["ESTAB"])

In [27]:
#Converting the code for Employee sizes to average of High and low thresholds 
def empscovert(i):
    i=int(i)

    x=100
    if i>=207 and i<=232:
        x=10

    if i>=235 and i<=243:
        x=50
    if i>=249 and i<=252:
        x=200
    if i>=253 and i<=254:
        x=750
    if i>=260 and i<=263:
        x=1500
    if i>=270 and i<=271:
        x=3750
    if i>=272 and i<=273 :
        x=7500
    if i==280 or i==281:
        x=17500
    if i==282:
        x=37500
    if i==283:
        x=75000
    if i>=290:
        x=100000    
    return x

In [28]:
cbpNaics['NoEmp']=cbpNaics['EMPSZES'].apply(lambda x: empscovert(x))

In [29]:
#Round the number of establishments to the nearest whole number
cbpNaics["CEstab"] = cbpNaics["ESTAB"]*cbpNaics["bus_ratio"]

In [30]:
cbpNaics["totalEmp"]=cbpNaics["ESTAB"]*cbpNaics['NoEmp']

In [31]:
cbpNaics2=cbpNaics[cbpNaics['EMPSZES']!='001']

In [32]:
cbpNaicsg=cbpNaics2.groupby(['zipcode','geoid'], as_index=False).agg({'totalEmp': 'sum', 'bus_ratio': 'first',
                                                           'oth_ratio':'first','NAICS2012':'first',
                                                          'res_ratio':'first','tot_ratio':'first', 'ESTAB':'sum'
                                                          })

In [33]:
cbpNaicsg.head()

,zipcode,geoid,totalEmp,bus_ratio,oth_ratio,NAICS2012,res_ratio,tot_ratio,ESTAB
0,91901,06073015502,120,0.005871,0.000000,51,0.035054,0.032267,4
1,91901,06073021202,120,0.281800,0.124224,51,0.067870,0.083921,4
2,91901,06073021204,120,0.035225,0.068323,51,0.286695,0.264507,4
3,91901,06073021205,120,0.614481,0.763975,51,0.408264,0.430315,4
4,91901,06073021206,120,0.058708,0.037267,51,0.173329,0.162419,4

In [34]:
cbpNaicsg['estabratio']=cbpNaicsg['bus_ratio']*cbpNaicsg['ESTAB']

In [35]:
cbpNaicsg['Empratio']=cbpNaicsg['bus_ratio']*cbpNaicsg['totalEmp']

In [36]:
cbpNaicsg1=cbpNaicsg[['zipcode','geoid','NAICS2012','Empratio','estabratio']]

In [37]:
cbpNaicsg1

    zipcode        geoid NAICS2012    Empratio  estabratio
0     91901  06073015502        51    0.704501    0.023483
1     91901  06073021202        51   33.816047    1.127202
2     91901  06073021204        51    4.227006    0.140900
3     91901  06073021205        51   73.737769    2.457926
4     91901  06073021206        51    7.045010    0.234834
5     91901  06073021302        51    0.469667    0.015656
6     91902  06073003204        11    1.370717    0.137072
7     91902  06073003207        11    8.224299    0.822430
8     91902  06073013410        11    5.607477    0.560748
9     91902  06073013411        11    3.987539    0.398754
10    91902  06073013412        11   20.685358    2.068536
11    91902  06073013416        11    0.000000    0.000000
12    91902  06073013417        11    0.124611    0.012461
13    91906  06073021100        51   10.000000    1.000000
14    91910  06073003204        51    1.728951    0.086448
15    91910  06073012302        51   88.608735    4.430437
16    91910  06073012303        51   11.886538    0.594327
17    91910  06073012304        51    8.644755    0.432238
18    91910  06073012401        51   35.659613    1.782981
19    91910  06073012402        51   22.692481    1.134624
20    91910  06073012501        51   17.505628    0.875281
21    91910  06073012502        51   23.773075    1.188654
22    91910  06073012600        51   32.633949    1.631697
23    91910  06073012700        51   99.414678    4.970734
24    91910  06073012800        51    9.293111    0.464656
25    91910  06073012900        51   19.234579    0.961729
26    91910  06073013000        51   26.582620    1.329131
27    91910  06073013301        51    0.432238    0.021612
28    91910  06073013309        51    2.809545    0.140477
29    91910  06073013401        51    3.890140    0.194507
..      ...          ...       ...         ...         ...
954   92154  06073010011        21    3.684598    0.119749
955   92154  06073010014        21   74.576271    2.423729
956   92154  06073010015        21  222.844510    7.242447
957   92154  06073010103        21   27.266028    0.886146
958   92154  06073010104        21    0.589536    0.019160
959   92154  06073010106        21   23.581430    0.766396
960   92154  06073010107        21   11.643331    0.378408
961   92154  06073010109        21    2.358143    0.076640
962   92154  06073010110        21    7.811349    0.253869
963   92154  06073010112        21    1.915991    0.062270
964   92154  06073013205        21    7.516581    0.244289
965   92154  06073021302        21    0.442152    0.014370
966   92173  06073010005        51    8.970252    0.448513
967   92173  06073010009        51   30.572082    1.528604
968   92173  06073010012        51    2.288330    0.114416
969   92173  06073010013        51   11.899314    0.594966
970   92173  06073010015        51   22.425629    1.121281
971   92173  06073010106        51    0.366133    0.018307
972   92173  06073010111        51    3.478261    0.173913
973   92672  06059032023        51   13.607477    0.971963
974   92672  06059042103        51   33.669782    2.404984
975   92672  06059042106        51   19.190031    1.370717
976   92672  06059042107        51   73.794393    5.271028
977   92672  06059042108        51   82.517134    5.894081
978   92672  06059042109        51   19.713396    1.408100
979   92672  06059042113        51   13.084112    0.934579
980   92672  06059042114        51   10.292835    0.735202
981   92672  06059042201        51    1.395639    0.099688
982   92672  06059042206        51   12.211838    0.872274
983   92672  06073018700        51    0.523364    0.037383

[984 rows x 5 columns]

In [38]:
censustracts = Dataset("SELECT * FROM tract_2010census_dp1_simple where geoid10 like '0607%'").download()

In [39]:
##get geoid, total population and population of 65+
popl=['dp0010001','dp0010015','dp0010016','dp0010017','dp0010018','dp0010019','geoid10']
censustracts1=censustracts[popl]

In [40]:
censustracts1['total_p']=censustracts1['dp0010001']
censustracts1['ratio_65']=(censustracts1['dp0010015']+censustracts1['dp0010016']+censustracts1['dp0010017']
+censustracts1['dp0010018']+censustracts1['dp0010019'])/censustracts1['total_p']

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
cbpNaics1 = pd.merge(censustracts,cbpNaicsg1,right_on='geoid',left_on='geoid10')

In [42]:
censustracts1=censustracts1.reset_index()

In [43]:
censustracts1.head()

,cartodb_id,dp0010001,dp0010015,dp0010016,dp0010017,dp0010018,dp0010019,geoid10,total_p,ratio_65
0,5619,3517.0,130.0,94.0,83.0,36.0,21.0,06073008352,3517.0,0.103497
1,5624,3711.0,103.0,76.0,81.0,104.0,169.0,06073018000,3711.0,0.143627
2,5631,6163.0,222.0,178.0,173.0,191.0,358.0,06073019205,6163.0,0.182054
3,5641,3048.0,42.0,27.0,12.0,12.0,21.0,06073007907,3048.0,0.037402
4,5773,3351.0,103.0,92.0,82.0,76.0,46.0,06073012003,3351.0,0.119069

In [44]:
cbpNaics1 = pd.merge(censustracts1[['total_p','ratio_65','geoid10']],
                     cbpNaicsg1,right_on='geoid',left_on='geoid10')

In [45]:
cbpNaics1=cbpNaics1.drop(columns=['geoid10'])
cbpNaics1.head()

   total_p  ratio_65 zipcode        geoid NAICS2012    Empratio  estabratio
0   3517.0  0.103497   92126  06073008352        21   10.669456    0.303347
1   3711.0  0.143627   92008  06073018000        51  105.019557    3.226858
2   6163.0  0.182054   92084  06073019205        51    6.378505    0.637850
3   3048.0  0.037402   92109  06073007907        51   14.727273    1.472727
4   3351.0  0.119069   91950  06073012003        51   10.123023    0.506151

In [46]:
from autocensus import Query
import pandas as pd

In [47]:
# Configure query for total population 
query = Query(
    estimate=5,
    years=[2014, 2015, 2016, 2017],
    variables=['B00001_001E'],
    for_geo='tract:*',
    in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
    census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
            )

# Run query and collect output in dataframe
dfp = query.run()

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [48]:
# Configure query for No. of Households
query = Query(
    estimate=5,
    years=[2014, 2015, 2016, 2017],
    variables=['B00002_001E'],
    for_geo='tract:*',
    in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
    census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
)

# Run query and collect output in dataframe
dfh = query.run()

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [49]:
# Configure query for No. of Household Income
query = Query(
    estimate=5,
    years=[2014, 2015, 2016, 2017],
    variables=['B19001_001E'],
    for_geo='tract:*',
    in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
    census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
)

# Run query and collect output in dataframe
dfhi = query.run()

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [50]:
# Configure query for No. of Households Age
query = Query(
    estimate=5,
    years=[2014, 2015, 2016, 2017],
    variables=['B19037_001E'],
    for_geo='tract:*',
    in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
    census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
)

# Run query and collect output in dataframe
dfa = query.run()

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [51]:
# Configure query for No. of GINI
query = Query(
    estimate=5,
    years=[2014, 2015, 2016, 2017],
    variables=['B19083_001E'],
    for_geo='tract:*',
    in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
    census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
)

# Run query and collect output in dataframe
dfg = query.run()

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pyproj/transformer.py:92: UserWarning: `from_crs` is deprecated and will be removed in 2.2.0. Please use `from_proj` instead.
  "`from_crs` is deprecated and will be removed in 2.2.0. "

Finalizing data...

In [52]:
dfp.rename(columns={'value':'pop'}, 
                 inplace=True)

In [53]:
dfh.rename(columns={'value':'households'}, 
                 inplace=True)

In [54]:
dfhi.rename(columns={'value':'income'}, 
                 inplace=True)

In [55]:
dfa.rename(columns={'value':'age'}, 
                 inplace=True)

In [56]:
dfg.rename(columns={'value':'gini'}, 
                 inplace=True)

In [57]:
dfm = pd.merge(dfp, dfh[['households','geo_id','year']], on=['geo_id','year'])

dfm = pd.merge(dfm, dfhi[['income','geo_id','year']], on=['geo_id','year'])

dfm = pd.merge(dfm, dfg[['gini','geo_id','year']], on=['geo_id','year'])

In [58]:
dfem=cbpNaics1
dfem.head()

   total_p  ratio_65 zipcode        geoid NAICS2012    Empratio  estabratio
0   3517.0  0.103497   92126  06073008352        21   10.669456    0.303347
1   3711.0  0.143627   92008  06073018000        51  105.019557    3.226858
2   6163.0  0.182054   92084  06073019205        51    6.378505    0.637850
3   3048.0  0.037402   92109  06073007907        51   14.727273    1.472727
4   3351.0  0.119069   91950  06073012003        51   10.123023    0.506151

In [59]:
dfem.geoid=dfem.geoid.astype(str)
dfm.geo_id=dfm.geo_id.astype(str)

In [60]:
dfm.geo_id=dfm.geo_id.apply(lambda x:x[9:20])

In [61]:
df_final= pd.merge(dfm,dfem,right_on='geoid',left_on='geo_id')

In [62]:
df_final=df_final.drop(columns=['annotation','percent_change','difference'])

In [63]:
import numpy as np
df_final = df_final.replace(np.nan, '', regex=True)

In [64]:
df_final=df_final[['geo_id','pop', 'centroid','year','geometry', 'households', 'income', 'gini', 'total_p',
       'ratio_65', 'zipcode', 'geoid', 'NAICS2012', 'Empratio', 'estabratio']]

In [70]:
df_final.drop(df_final.columns[0:1], axis=1, inplace=True)

In [74]:
df_final =df_final[['zipcode', 'geoid',  'NAICS2012','year', 'centroid', 'geometry','pop','households', 'income', 'gini',
       'total_p', 'ratio_65','Empratio',
       'estabratio']]

In [75]:
df_final.columns

Index(['zipcode', 'geoid', 'NAICS2012', 'year', 'centroid', 'geometry', 'pop',
       'households', 'income', 'gini', 'total_p', 'ratio_65', 'Empratio',
       'estabratio'],
      dtype='object')

In [78]:
df_final=df_final.sort_values(by=['zipcode','geoid','NAICS2012','year'])

In [79]:
df_final.head()

,zipcode,geoid,NAICS2012,year,centroid,geometry,pop,households,income,gini,total_p,ratio_65,Empratio,estabratio
792,91901,06073015502,51,2014,POINT (-116.8304645225708 32.81130364624261),(POLYGON ((-116.8583888559341 32.8172327884323...,411,154,883.0,0.3837,2748.0,0.108806,0.704501,0.023483
795,91901,06073015502,51,2015,POINT (-116.830446134218 32.81131662191954),(POLYGON ((-116.8583888559341 32.8172327884323...,454,170,949.0,0.3917,2748.0,0.108806,0.704501,0.023483
798,91901,06073015502,51,2016,POINT (-116.8299969494062 32.81020076184434),(POLYGON ((-116.8583888559341 32.8172327884323...,499,189,950.0,0.4479,2748.0,0.108806,0.704501,0.023483
801,91901,06073015502,51,2017,POINT (-116.8300017429104 32.81048542676395),(POLYGON ((-116.8583888559341 32.8172327884323...,496,186,957.0,0.4395,2748.0,0.108806,0.704501,0.023483
2476,91901,06073021202,51,2014,POINT (-116.6419700474266 32.82845364823388),(POLYGON ((-116.7511618358752 32.7976527915667...,399,159,1110.0,0.4649,3156.0,0.119455,33.816047,1.127202

##EDA##

In [80]:
from autocensus import Query
import pandas as pd
#import libraries from Carto.
from cartoframes.auth import set_default_credentials
from cartoframes.viz import Map, Layer
from cartoframes.data import Dataset
from cartoframes.viz.helpers import color_continuous_layer
import geopandas as gpd

In [81]:
df=df_final

In [82]:
df.columns

Index(['name', 'geo_id', 'geo_type', 'year', 'date', 'variable_code',
       'variable_label', 'variable_concept', 'pop', 'centroid',
       'internal_point', 'geometry', 'households', 'income', 'gini', 'total_p',
       'ratio_65', 'EMPSZES', 'ESTAB', 'NAICS2012', 'NAICS2012', 'zipcode',
       'bus_ratio', 'geoid', 'oth_ratio', 'res_ratio', 'tot_ratio', 'NoEmp',
       'CEstab'],
      dtype='object')

In [83]:
df.head()

,name,geo_id,geo_type,year,date,variable_code,variable_label,variable_concept,pop,centroid,...,NAICS2012,NAICS2012,zipcode,bus_ratio,geoid,oth_ratio,res_ratio,tot_ratio,NoEmp,CEstab
0,"Census Tract 1, San Diego County, California",06073000100,tract,2014,2014-12-31,B00001_001E,Total,Unweighted Sample Count of the Population,285,POINT (-117.1859994433451 32.75306316370806),...,51,51,92103,0.001883,06073000100,0.002068,0.057226,0.048029,10,0.011299
1,"Census Tract 1, San Diego County, California",06073000100,tract,2014,2014-12-31,B00001_001E,Total,Unweighted Sample Count of the Population,285,POINT (-117.1859994433451 32.75306316370806),...,51,51,92103,0.001883,06073000100,0.002068,0.057226,0.048029,100,0.058380
2,"Census Tract 1, San Diego County, California",06073000100,tract,2014,2014-12-31,B00001_001E,Total,Unweighted Sample Count of the Population,285,POINT (-117.1859994433451 32.75306316370806),...,51,51,92103,0.001883,06073000100,0.002068,0.057226,0.048029,10,0.032015
3,"Census Tract 1, San Diego County, California",06073000100,tract,2014,2014-12-31,B00001_001E,Total,Unweighted Sample Count of the Population,285,POINT (-117.1859994433451 32.75306316370806),...,51,51,92103,0.001883,06073000100,0.002068,0.057226,0.048029,10,0.011299
4,"Census Tract 1, San Diego County, California",06073000100,tract,2014,2014-12-31,B00001_001E,Total,Unweighted Sample Count of the Population,285,POINT (-117.1859994433451 32.75306316370806),...,51,51,92103,0.001883,06073000100,0.002068,0.057226,0.048029,50,0.003766